/* The basic container */
.bored-content {
    
}

/* The basic container */
.bored-banner {
  font-weight: 900;
}

td {
  padding-right: 20px;
}


.late-mild {
  color:yellow;
}

.late-critical {
  color:red;
}

.early-mild {
  color: teal;
}